<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h2>Trabajo1</h2> - <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
        dolor, accusamus ex tempora optio eaque velit sapiente facilis, ut
        itaque, fugit adipisci. Ex incidunt, quae unde ut consequuntur magni
        aliquam?
      </p>
    </ul>
    <ul>
      <li>
        <h2>Trabajo2</h2> - <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
        dolor, accusamus ex tempora optio eaque velit sapiente facilis, ut
        itaque, fugit adipisci. Ex incidunt, quae unde ut consequuntur magni
        aliquam?
      </p>
    </ul>
    <ul>
      <li>
        <h2>Trabajo3</h2> - <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis
        dolor, accusamus ex tempora optio eaque velit sapiente facilis, ut
        itaque, fugit adipisci. Ex incidunt, quae unde ut consequuntur magni
        aliquam?
      </p>
    </ul>
  </div>
</div>
